In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("final2.csv")

In [3]:
data['model']=data["brand"]+" "+data['model']

In [6]:
data.groupby(["model"])["sold"].count()

model
Audi A4                        102
Audi A6                         86
Audi Q7                         43
BMW 316                         69
BMW 318                        344
BMW 320                        541
BMW 323                        123
BMW 325                        615
BMW 328                        528
BMW 330                        211
BMW 335                         58
BMW 520                         31
BMW 523                         31
BMW 525                        609
BMW 528                        464
BMW 530                        545
BMW 535                        138
BMW 740                         40
BMW 745                         50
BMW 750                        170
BMW M3                          31
BMW X3                          71
BMW X5                        1220
BMW X6                         232
BMW Այլ/Օther                   10
Chevrolet Aveo                  58
Chevrolet Camaro                42
Chevrolet Cruze                 57
Chevrolet Niva                  54
Chevrolet Zafira                 1
                              ...
Toyota Land Cruiser 200        207
Toyota Land Cruiser Prado      478
Toyota Prius                    67
Toyota Rav 4                   369
Toyota Sequoia                  40
Toyota Sienna                   46
Toyota Vitz                    164
Toyota Voxy                     60
VAZ(Lada) 2106                  69
VAZ(Lada) 2107                 719
VAZ(Lada) 21099                126
VAZ(Lada) 2110                 228
VAZ(Lada) 2112                 132
VAZ(Lada) 2113                  31
VAZ(Lada) 2114                 288
VAZ(Lada) 2115                 199
VAZ(Lada) 2121                 219
VAZ(Lada) 2170 Priora          380
VAZ(Lada) 2172 Priora          175
Volkswagen Caddy                42
Volkswagen Golf                316
Volkswagen Jetta               320
Volkswagen New Beetle           50
Volkswagen Passat              331
Volkswagen Passat CC            63
Volkswagen Polo                 90
Volkswagen Tiguan               60
Volkswagen Touareg             326
Volkswagen Այլ/Օther             2
Volvo XC90                      32
Name: sold, Length: 240, dtype: int64

In [19]:
z=data.loc[data['sold']=="Yes",:]

In [81]:
#z.groupby(["model",'year',"price",'sold'])["sold","price"].agg('count',"mean")
jmo=pd.pivot_table(z, values=['price',"sold"], index=['model', 'year'] , aggfunc={"price":"mean","sold":"count"})

In [85]:
jmo.sort_values(by=['sold'],ascending=False)

                                       price  sold
model                     year
Toyota Camry              2010   8031.084302   344
                          2012  10461.259259   324
                          2011   8336.979798   297
Opel Astra                2001   3097.971660   247
Nissan X-Trail            2005   4700.934959   246
Opel Astra                2000   2920.590717   237
Toyota Camry              2014  11910.477876   226
Hyundai Sonata            2011   6760.272727   198
Toyota Camry              2013  11128.160920   174
Nissan Tiida              2008   3949.684524   168
Mercedes-Benz E 350       2007   8685.381818   165
Mercedes-Benz E 320       2004   6965.666667   153
Hyundai Elantra           2012   7178.231293   147
Hyundai Sonata            2012   6637.076389   144
Mercedes-Benz E 320       2001   5456.188811   143
Mercedes-Benz E 350       2008   9163.471831   142
Hyundai Elantra           2011   6971.739130   138
Mercedes-Benz E 320       2003   6699.851852   135
Toyota Camry              2009   7671.111111   135
Mercedes-Benz E 320       2000   5538.885496   131
Opel Astra                2002   3181.889764   127
Nissan X-Trail            2006   4948.116667   120
                          2007   5289.316239   117
Toyota Camry              2015  14027.192982   114
Opel Zafira               2000   3390.699115   113
Lexus GX 470              2006  15471.090090   111
Toyota Alphard            2005   6915.614679   109
Opel Zafira               2001   3465.826531    98
Nissan Tiida              2009   4032.989691    97
Nissan Teana              2006   4289.175258    97
...                                      ...   ...
Mercedes-Benz Sprinter    2003   8300.000000     1
                          2004   9500.000000     1
                          2007  24000.000000     1
                          2013  28000.000000     1
                          2014  28000.000000     1
Mercedes-Benz Vito        2004   6900.000000     1
                          2005   7200.000000     1
                          2007   9500.000000     1
Mitsubishi Airtrek        2006   5200.000000     1
Mercedes-Benz S 320       2004   7500.000000     1
Mercedes-Benz ML 500      2014  20000.000000     1
                          2010  20000.000000     1
Mercedes-Benz E 320       2007   8000.000000     1
Mercedes-Benz CLS 55 AMG  2006  10900.000000     1
                          2010  10900.000000     1
Mercedes-Benz E 200       2002   4600.000000     1
                          2006   7500.000000     1
                          2009  12800.000000     1
Mercedes-Benz E 280       2000   5700.000000     1
                          2001   4300.000000     1
Mercedes-Benz E 350       2003   7150.000000     1
Mercedes-Benz ML 350      2015  28000.000000     1
Mercedes-Benz E 500       2006   9400.000000     1
Mercedes-Benz G 500       2009  30300.000000     1
Mercedes-Benz G 55 AMG    2004  37000.000000     1
                          2007  48000.000000     1
Mercedes-Benz GL 450      2010  19200.000000     1
Mercedes-Benz ML 350      2013  28000.000000     1
                          2014  28000.000000     1
Volvo XC90                2008   8500.000000     1

[1584 rows x 2 columns]