In [1]:
from glob import glob
import pandas as pd
import numpy as np
import re
import time
from translate import Translator

In [2]:
translator= Translator(to_lang="en",from_lang="hy")
#putting all 5 dfs into one list and dropping rows where all values are NA
allFiles =glob("nov*.csv")
ls=[]
frame = pd.DataFrame()

In [3]:
allFiles

['nov1.csv', 'nov2.csv', 'nov3.csv', 'nov4.csv']

In [4]:
for i in allFiles:
    ls.append(pd.read_csv(i,index_col=None))

In [5]:
sep=pd.concat(ls)

In [6]:
sep=sep.loc[:, sep.columns != 'Unnamed: 0']

In [7]:
sep.columns

Index(['brand', 'date', 'id_val', 'model', 'price', 'year', 'Անվահեծերը',
       'Գույնը', 'Դռների քանակը', 'Թափքը', 'Ձիաուժը', 'Ղեկը',
       'Մխոցների քանակը', 'Մոդիֆիկացիան', 'Շարժիչը', 'Շարժիչի ծավալը',
       'Սրահի գույնը', 'Վազքը', 'Փոխանցման տուփը', 'Քարշակը'],
      dtype='object')

In [8]:
new_columns=['brand', 'date', 'id_val', 'model', 'price', 'year', 'Wheels',
       'Color', 'Door_Count', 'Body_Style', 'Horsepower', 'Hand_Drive',
       'Engine_Cylinders', 'Version', 'Engine', 'Engine_Volume',
       'Interior_Color', 'Mileage', 'Gearbox', 'Drive_train']

In [9]:
sep.columns=new_columns

In [10]:
sep["date"]=sep.date.apply(lambda x:re.findall("[\d\.]+",x)[0])
sep['date']=pd.to_datetime(sep['date'],format='%d.%m.%Y')

In [11]:
Body_Styles=sep.Body_Style.value_counts().index
colors=sep.Color.value_counts().index
Hand_Drive=sep.Hand_Drive.value_counts().index
engine=sep.Engine.value_counts().index
inter=sep.Interior_Color.value_counts().index
Gearbox=sep.Gearbox.value_counts().index.tolist()
Drive=sep.Drive_train.value_counts().index

In [12]:
dct_body={k:translator.translate(k) for k in Body_Styles}
dct_col={k:translator.translate(k) for k in colors}
dct_hand={k:translator.translate(k) for k in Hand_Drive}
dct_eng={k:translator.translate(k) for k in engine}
dct_inter={k:translator.translate(k) for k in inter}
dct_Gearbox={k:translator.translate(k) for k in Gearbox}
dct_Drive={k:translator.translate(k) for k in Drive}

In [13]:
sep.replace({"Body_Style": dct_body,"Color":dct_col,"Hand_Drive":dct_hand,"Engine":dct_eng,"Interior_Color":dct_inter,
            "Gearbox":dct_Gearbox,"Drive_train":dct_Drive},inplace=True)

In [14]:
def clean_price(x):
    if x.endswith("$"):
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])
    elif x.endswith("֏"):
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])/485
    else:
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])*1.13
    return x

In [15]:
sep['price']=sep['price'].apply(clean_price)
sep.Wheels=sep.Wheels.apply(lambda x:re.findall("[\d]+",x)[0] if pd.notnull(x) else x)
sep.drop(columns="Door_Count",inplace=True)
sep.Horsepower=sep.Horsepower.apply(lambda x:float(x) if str(x).isdigit() else x)
sep.Mileage=sep.Mileage.apply(lambda x: float(re.findall("[\d]+",x)[0]))

In [16]:
sep.to_csv("november.csv",index=False)

sep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17968 entries, 0 to 4123
Data columns (total 19 columns):
brand               17968 non-null object
date                17968 non-null datetime64[ns]
id_val              17968 non-null object
model               17968 non-null object
price               17968 non-null float64
year                17968 non-null int64
Wheels              4503 non-null object
Color               17968 non-null object
Body_Style          17968 non-null object
Horsepower          4136 non-null object
Hand_Drive          17968 non-null object
Engine_Cylinders    4094 non-null float64
Version             9348 non-null object
Engine              17968 non-null object
Engine_Volume       5632 non-null float64
Interior_Color      5072 non-null object
Mileage             17968 non-null float64
Gearbox             17968 non-null object
Drive_train         4876 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(13)
memory usage: 2.7+ MB

In [23]:
sep=pd.read_csv("september.csv",parse_dates=['date'])

In [26]:
sum(sep.date>"2018-10-03")

3

In [15]:
sep.Mileage

0          82000 կմ
1         108000 կմ
2       109000 մղոն
3          13000 կմ
4            140 կմ
5         200000 կմ
6         150000 կմ
7        85000 մղոն
8        85000 մղոն
9         108000 կմ
10       78000 մղոն
11        165000 կմ
12        270000 կմ
13         38900 կմ
14        157000 կմ
15         64000 կմ
16        280000 կմ
17         70000 կմ
18        117000 կմ
19        260000 կմ
20           270 կմ
21        148000 կմ
22        121000 կմ
23        217000 կմ
24           150 կմ
25        101000 կմ
26        146000 կմ
27        170000 կմ
28        120000 կմ
29         68000 կմ
           ...
4094      259000 կմ
4095      165000 կմ
4096    180000 մղոն
4097    186000 մղոն
4098       89300 կմ
4099     34000 մղոն
4100      111000 կմ
4101      177000 կմ
4102      165000 կմ
4103      195000 կմ
4104    110000 մղոն
4105      107005 կմ
4106      121998 կմ
4107    132000 մղոն
4108      200000 կմ
4109      102000 կմ
4110      109000 կմ
4111    125000 մղոն
4112       65000 կմ
4113    180000 մղոն
4114       61000 կմ
4115       34999 կմ
4116     95000 մղոն
4117      173000 կմ
4118      120000 կմ
4119      180000 կմ
4120       22000 կմ
4121    105000 մղոն
4122      133000 կմ
4123       50000 կմ
Name: Mileage, Length: 17968, dtype: object