In [15]:
from glob import glob
import pandas as pd
import numpy as np
import re
import time

In [16]:

#putting all 5 dfs into one list and dropping rows where all values are NA
allFiles =glob("apr*.csv")
ls=[]
frame = pd.DataFrame()

In [17]:
for i in allFiles:
    ls.append(pd.read_csv(i,index_col=None))

In [18]:
sep=pd.concat(ls)

In [19]:
sep=sep.loc[:, sep.columns != 'Unnamed: 0']

In [20]:
sep.columns

Index(['brand', 'date', 'id_val', 'model', 'price', 'year', 'Անվահեծերը',
       'Գույնը', 'Դռների քանակը', 'Թափքը', 'Ձիաուժը', 'Ղեկը',
       'Մխոցների քանակը', 'Մոդիֆիկացիան', 'Շարժիչը', 'Շարժիչի ծավալը',
       'Սրահի գույնը', 'Վազքը', 'Փոխանցման տուփը', 'Քարշակը'],
      dtype='object')

In [21]:
new_columns=['brand', 'date', 'id_val', 'model', 'price', 'year', 'Wheels',
       'Color', 'Door_Count', 'Body_Style', 'Horsepower', 'Hand_Drive',
       'Engine_Cylinders', 'Version', 'Engine', 'Engine_Volume',
       'Interior_Color', 'Mileage', 'Gearbox', 'Drive_train']

In [22]:
sep.columns=new_columns

In [23]:
sep["date"]=sep.date.apply(lambda x:re.findall("[\d\.]+",x)[0])
sep['date']=pd.to_datetime(sep['date'])

In [24]:
Body_Styles=sep.Body_Style.value_counts().index
colors=sep.Color.value_counts().index
Hand_Drive=sep.Hand_Drive.value_counts().index
engine=sep.Engine.value_counts().index
inter=sep.Interior_Color.value_counts().index
Gearbox=sep.Gearbox.value_counts().index.tolist()
Drive=sep.Drive_train.value_counts().index

In [25]:
dct_body={k:translator.translate(k) for k in Body_Styles}
dct_col={k:translator.translate(k) for k in colors}
dct_hand={k:translator.translate(k) for k in Hand_Drive}
dct_eng={k:translator.translate(k) for k in engine}
dct_inter={k:translator.translate(k) for k in inter}
dct_Gearbox={k:translator.translate(k) for k in Gearbox}
dct_Drive={k:translator.translate(k) for k in Drive}

In [26]:
sep.replace({"Body_Style": dct_body,"Color":dct_col,"Hand_Drive":dct_hand,"Engine":dct_eng,"Interior_Color":dct_inter,
            "Gearbox":dct_Gearbox,"Drive_train":dct_Drive},inplace=True)

In [27]:
def clean_price(x):
    if x.endswith("$"):
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])
    elif x.endswith("֏"):
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])/485
    else:
        x=float(re.findall('[\d]+',x)[0]+re.findall('[\d]+',x)[1])*1.13
    return x

In [28]:
sep['price']=sep['price'].apply(clean_price)
sep.Wheels=sep.Wheels.apply(lambda x:re.findall("[\d]+",x)[0] if pd.notnull(x) else x)
sep.drop(columns="Door_Count",inplace=True)
sep.Horsepower=sep.Horsepower.apply(lambda x:float(x) if str(x).isdigit() else x)
sep.Mileage=sep.Mileage.apply(lambda x: float(re.findall("[\d]+",x)[0]))

In [29]:
sep.to_csv("april.csv",index=False)
sep=pd.read_csv("april.csv", parse_dates=['date'])
sep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 19 columns):
brand               18241 non-null object
date                18241 non-null datetime64[ns]
id_val              18241 non-null object
model               18241 non-null object
price               18241 non-null float64
year                18241 non-null int64
Wheels              4566 non-null float64
Color               18240 non-null object
Body_Style          18240 non-null object
Horsepower          4198 non-null object
Hand_Drive          18240 non-null object
Engine_Cylinders    4121 non-null float64
Version             9833 non-null object
Engine              18240 non-null object
Engine_Volume       5633 non-null float64
Interior_Color      5027 non-null object
Mileage             18241 non-null float64
Gearbox             18240 non-null object
Drive_train         5074 non-null object
dtypes: datetime64[ns](1), float64(5), int64(1), object(12)
memory usage: 2.6+ MB

In [1]:
from translate import Translator
translator= Translator(to_lang="en",from_lang="hy")

In [4]:
translator.translate("Գազ")

'Astragalus'