In [5]:
print(max(tillapril.date))
max(april.date)

2019-03-18 00:00:00

Timestamp('2019-12-03 00:00:00')

In [4]:
from glob import glob
import pandas as pd
import numpy as np
import re
import time
#from translate import Translator
from collections import Counter
tillapril=pd.read_csv("tillmarch2.csv.")
april=pd.read_csv("april.csv",parse_dates=['date'])
tillapril.date=pd.to_datetime(tillapril.date)
april.drop(columns=["Wheels","Version"],inplace=True)
april=april[april['date']>='2019-03-18'].reset_index(drop=True)
april=april.sort_values(by='date')
april.reset_index(drop=True,inplace=True)
april.drop_duplicates(subset=["id_val","brand","model"],keep="first",inplace=True)
april.reset_index(drop=True,inplace=True)
ls=tillapril[(tillapril.sold=="No")&(tillapril.date>='2019-03-18')].id_val.tolist()
z=["No" if i  in april.id_val.tolist() else  "Yes" for i in ls]
tillapril.loc[(tillapril.sold=="No")&(tillapril.date>='2019-03-18'),"sold"]=z
april['sold']='No'
data=pd.concat([tillapril,april],ignore_index=True).reset_index(drop=True)
data=data.sort_values(by='date')
data.reset_index(drop=True,inplace=True)
data.drop_duplicates(subset=["id_val","brand","model"],keep="first",inplace=True)
data.reset_index(drop=True,inplace=True)
data.Horsepower=pd.to_numeric(data.Horsepower, errors='coerce')
data=data.sort_values(by='date')
data.reset_index(drop=True,inplace=True)
print(data.sold.value_counts())
data.to_csv("final.csv",index_label=False)

No     47263
Yes    19162
Name: sold, dtype: int64

In [1]:
from glob import glob
import pandas as pd
import numpy as np
import re
import time
data=pd.read_csv("final.csv")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66425 entries, 0 to 66424
Data columns (total 18 columns):
brand               66425 non-null object
date                66425 non-null object
id_val              66425 non-null object
model               66425 non-null object
price               66425 non-null float64
year                66425 non-null int64
Color               66423 non-null object
Body_Style          66423 non-null object
Horsepower          14999 non-null float64
Hand_Drive          66423 non-null object
Engine_Cylinders    15807 non-null float64
Engine              66423 non-null object
Engine_Volume       21408 non-null float64
Interior_Color      19393 non-null object
Mileage             66425 non-null float64
Gearbox             66423 non-null object
Drive_train         18981 non-null object
sold                66425 non-null object
dtypes: float64(5), int64(1), object(12)
memory usage: 9.6+ MB